name: Format Check

on:
  pull_request:
    branches: ["main", "develop"]

jobs:
  Ruff:
    name: Format Check with Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Format Check
        run: |
          uv run ruff format --check --verbose .
